source/lib/x86_64-win64/main.ppu
source/lib/x86_64-win64/main.o
source/lib/x86_64-win64/main.lfm
source/backup/Animasi_Kembang_Api.lps
source/backup/Animasi_Kembang_Api.lpi
source/Animasi_Kembang_Api.lps
source/Animasi_Kembang_Api.exe
source/backup/main.lfm
source/lib/x86_64-win64/Animasi_Kembang_Api.compiled
source/lib/x86_64-win64/Animasi_Kembang_Api.obj
source/lib/x86_64-win64/Animasi_Kembang_Api.o
source/backup/main.pas
source/main.lfm
*.lfm
*.exe
*.lpi
*.lps
*.res
